#root {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 0rem;
  overflow: auto;
  text-shadow: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#name{
  width: 25vh;
}

#email{
  width: 27vh;
}

#message {
  width: 55vh;
  height: 20vh;
}

.container-fluid{
  display: flex;
  justify-content: space-between;
  background-color: rgba(69, 129, 225, 0.7);
  border-radius: 5px;
  padding-bottom: 15px;
  margin-top: 15px;
  border: 1px solid yellow;
  width: 92%
}

.projects {
  padding: 20px;
  width: 100%;
}

.header {
  justify-content: space-around;
  background-color: rgba(69, 129, 225, 0.7);
  border-radius: 5px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  /* border: 1px solid yellow; */
}

.container{
  margin-left: 5px;
}

.nav-link{
  color: rgb(221, 221, 37);
}

.btn {
  margin: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(223, 205, 205, 0.95);
  color: white;
  text-align: center;
  height: 10%;
  margin-top: 15px;
  border-radius: 5px;

}

header {
  margin-bottom: 15px;
  /* border: 1px solid white; */
  padding: 15px;
}

.nav{
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: space-around; 
}

.icon {
  margin: 0 10px; 
}

.thumbnailImg {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border: 2px solid #61dafb; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  float: left;
  margin-right: 20px;
}

.bio {
  width: 90%; 
  text-shadow: black;
  margin: 15px;
  padding: 10px;
}

.skills-item {
  font-style: italic;
  padding-left: 15px;
}

ul.resume-proficiencies{
  padding-left: 8vh;
}

.card {
  margin-bottom: 10px;
}